---
import Main from "@/layouts/main.astro";
import { getCollection } from "astro:content";

// leadership
const upsilon = "Aarnav Patel";
const pi = "Ishnet Kaur";
const epsilon = "Bulmaro Nava-Camal";

// look in src/content/committee
const committees = await getCollection("committee");
---

<Main useProse title="Committees">
  <h1>Committees</h1>

  <p>
    Structure and planning are important to any successful organization. This is
    why UPE clearly defines the roles of all of its officers and committees. The
    officers (Upsilon, Pi, and Epsilon) all communicate regularly to ensure a
    smooth operation with plenty of activity. Pi, the vice-president, directly
    oversees the planning and membership committees. Epsilon, the secretary, is
    responsible for aiding and guiding the finance and public relations
    committees. Upsilon, the president, is the umbrella that oversees all
    committees and keeps things progressing. Upsilon also maintains the
    structure and framework of UPE by overseeing the rules committee.
  </p>

  <h2>Upsilon (President)</h2>

  {upsilon}

  <p class="!mt-4">
    Upsilon is the President of the chapter. The Upsilon needs to motivate,
    inspire, and keep the chapter moving. He/She not only needs to be excited
    enough to keep himself/herself motivated, but also to push others to keep
    things moving. The fun and success of this chapter depends on the
    excitement, interest, and activity of its members, and the excitement,
    interest, and activity of its members depends on the Upsilon's motivation.
    For this reason, the Upsilon is required to attend all meetings and events,
    and furthermore to attend all committee meetings where his presence is
    requested. He/She is the direct overseer of the Rules Committee, and works
    to maintain a level of inspired structure and order needed for any
    successful organization. Furthermore, the Upsilon works with the Pi (Vice
    President), and Epsilon (Secretary) as a more distant overseer of the other
    four committees. The major responsibilities of the Upsilon are to maintain
    an exciting level of activity, get a greater number of local chapter events
    to happen, and make UPE more known to the community. Other responsibilities
    include maintaining a healthy relationship with both the national board and
    the Computer Science department, and helping to reshape the chapter as
    necessary.
  </p>
  <h2>Pi (Vice President)</h2>

  {pi}

  <p class="!mt-4">
    Pi is the Vice President of the chapter. The Pi's role is to keep an
    overview of the finer details of the chapter's everyday affairs.
    Specifically, this includes planning events and the recruitment and election
    of new members. As such, the Pi is the overseer of the Planning and
    Membership Committees and needs to work closely with each of these to make
    sure things are happening. The Pi needs to help deal with higher-level
    issues such as the reaction of the department to certain activities, the
    financial repercussions of taking on certain tasks, and the effect of
    holding certain activities or failing to hold certain activities will have
    on the chapter as a whole. This being a more detail-oriented perspective
    than the Upsilon's, the Pi will have a more intimate role in a smaller scope
    of activities than will the Upsilon, and will need to keep the gears of the
    chapter rolling smoothly.
  </p>
  <h2>Epsilon (Secretary)</h2>

  {epsilon}

  <p class="!mt-4">
    Epsilon is the Secretary of the chapter. Correspondence between UPE and the
    outside world will happen primary through the Epsilon, or under the
    supervision of the Epsilon. Communication is an important part of Epsilon's
    responsibilities, which includes emails, phone calls, letters, and other
    forms of communication to the national board, department, and sponsoring
    organizations, among others. Epsilon is also in charge of maintaining an
    organized collection of chapter minutes, and giving copies to the Press
    Secretary (head of the Public Relations committee) to be posted on this
    website. Epsilon will be the overseer of both the Public Relations
    committee, which will be responsible for the mass communication directed
    toward the outside world (website, postering for public events, fliers,
    etc.), and the Finance Committee, which will need to present to the Pi a
    budget to be brought to the department. Epsilon shall thus maintain records
    of the chapter.
  </p>

  {
    committees.map(({ data, slug, body }) => {
      const { title, head } = data;

      let slugtitle = slug.substring(slug.indexOf("_") + 1);
      slugtitle = slugtitle.charAt(0).toUpperCase() + slugtitle.slice(1);

      return (
        <>
          <h2>{title ?? slugtitle} Committee</h2>

          <p>{head}</p>

          <p class="!mt-4">{body}</p>
        </>
      );
    })
  }
</Main>
